@import "/src/styles.less";

.header {
  .flex-center();
  font-family: Arial, Helvetica, sans-serif;
  background-color: @darkgray;
  font-weight: bolder;
  color: white;
  height: 40px;
  min-height: 40px;
  width: 100vw;
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background-color: @lightgray;
  flex: 1;
  width: 700px;

  .search-bar {
    box-sizing: border-box;
    margin-top: 20px;
    outline: none;
    width: 300px;
    height: 30px;
    border-radius: 6px;
    border: 2px solid #c1c1c1;
    outline: none;
    padding: 5px;
  }

  .arrow-down {
    .arrow-down(black, 6px, 10px);
    position: relative;
    bottom: 19px;
    right: 80px;
    pointer-events: none;
  }

  .filter-status-container {
    .flex-center();
    gap: 10px;
    margin-top: 15px;

    .filter-status-header {
      font-size: 15px;
    }

    .filter-status {
      .flex-center();
      box-sizing: border-box;
      flex-direction: column;
      padding: 7px;
      width: 120px;
      background-color: white;
      border: none;
      height: 30px;
    }
  }

  .mission-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 500px;
    padding: 0px 20px;
    gap: 10px;
    height: 65vh;
    overflow: auto;
  }
}

.new-mission-button {
  .flex-center();
  .clickable();
  position: fixed;
  left: 28px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  background-color: @gray;
  border-radius: 40px;
  font-size: 30px;
  color: white;
  transition: 0.2s;
  font-weight: bolder;

  &:hover {
    opacity: 0.9;
  }
}
