<div class="header">הרשימה המבצעית</div>

<div class="page-content">
  <search-bar class="search-bar" (change)="setSearchQuery($event)"></search-bar>
  <status-filter (change)="setStatusFilter($event)"></status-filter>

  <div class="mission-container">
    <ng-container *ngFor="let mission of this.missions$ | async">
      <mission-card
        *ngIf="!mission.parentId"
        [hidden]="
          !shouldShowMission(
            mission,
            searchQuery$ | async,
            statusFilter$ | async
          )
        "
        [mission]="mission"
      ></mission-card>
    </ng-container>
  </div>
</div>

<div (click)="missionsModalService.createMission()" class="new-mission-button">
  +
</div>
