<div class="header">הרשימה המבצעית</div>

<div class="page-content">
  <input [(ngModel)]="searchText" class="search-bar" placeholder="חיפוש..." />

  <div class="filter-status-container">
    <span class="filter-status-header">סינון לפי: </span>
    <mat-select
      disableOptionCentering
      [(ngModel)]="statusFilter"
      class="filter-status"
      [(value)]="statusFilter"
    >
      <mat-option
        *ngFor="let status of missionStatusFilterTypes"
        [value]="status"
      >
        {{ status }}
      </mat-option>
    </mat-select>
  </div>
  <div class="arrow-down"></div>

  <div class="mission-container">
    <ng-container *ngFor="let mission of this.missions">
      <mission-card
        *ngIf="!mission.parentUuid"
        [hidden]="!shouldShowMission(mission)"
        [mission]="mission"
      ></mission-card>
    </ng-container>
  </div>
</div>

<div (click)="missionsModalService.createMission()" class="new-mission-button">
  +
</div>
