<div class="header">הרשימה המבצעית</div>

<div class="page-content">
  <search-bar class="search-bar" (change)="setSearchQuery($event)"></search-bar>
  <status-filter (change)="setStatusFilter($event)"></status-filter>
  <div class="mission-pool-container">
    <mission-pool
      [missions]="(missions$ | async) ?? []"
      [shouldShowMission]="
        shouldShowMission(
          (searchQuery$ | async) ?? '',
          (statusFilter$ | async) ?? MissionStatusFilterEnum.NO_FILTER
        )
      "
    ></mission-pool>
  </div>
</div>

<div (click)="createMission()" class="new-mission-button">+</div>
