.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;

    background-color: #282828;
    font-weight: bolder;
    color: white;
    height: 40px;
    width: 100vw;
}

.missions-container {
    box-sizing: border-box;
    background-color: lightgrey; 
    width: 500px;
    flex: 1;
    padding: 20px;
}