@import "/src/styles.less";

.filter-status-container {
  .flex-center();
  gap: 10px;
  margin-top: 15px;

  .filter-status-header {
    font-size: 15px;
  }

  .filter-status {
    width: 120px;
    height: 30px;
    font-size: 14px;
  }
}
