<div class="modal-container">
    <span class="modal-title">{{data.title}}</span>
    <span>שם:</span>
    <input class="name" placeholder="שם" value="{{mission?.title}}">

    <span>סטטוס:</span>
        
    <select class="status">
        <option *ngFor="let status of missionStatusTypes" value="status">{{status}}</option>
    </select>


    <span>קישור למשימה:</span>
    <input class="parent-mission" list="missions" 
        placeholder="חיפוש..." value="{{mission?.parent?.title}}"/>
    <datalist id="missions">
        <option value="hey">hey</option>        
        <option value="bye">bye</option>        
        <option value="lo">lo</option>        
    </datalist>
    
    <div class="buttons-container">
        <div class="cancel-button">ביטול</div>
        <div class="save-button">שמירה</div>
    </div>
</div>