<form [formGroup]="missionForm" class="modal-container" (submit)="save()">
  <span class="modal-name">{{
    this.data?.isEditMission ? "עריכת משימה" : "יצירת משימה"
  }}</span>
  <span>שם:</span>
  <input
    formControlName="name"
    class="name"
    [class.is-invalid]="!isFieldValid('name')"
    placeholder="שם"
    value="{{ mission }}"
  />
  <span
    *ngIf="!isFieldValid('name') && missionForm.get('name')?.errors?.required"
    class="error-text"
    >חובה לתת שם למשימה!</span
  >

  <span
    *ngIf="!isFieldValid('name') && missionForm.get('name')?.errors?.maxlength"
    class="error-text"
    >שם משימה יותר מ50 תווים!</span
  >

  <span>סטטוס:</span>
  <!-- <option-select -->
  <!--   class="status" -->
  <!--   [options]="missionStatusTypes" -->
  <!--   [startOption]="missionStatusTypes[0]" -->
  <!-- ></option-select> -->

  <span>קישור למשימה:</span>
  <input
    type="mission"
    class="parent-mission"
    placeholder="חיפוש..."
    [matAutocomplete]="auto"
    formControlName="parent"
    [class.is-invalid]="!isFieldValid('parent')"
  />

  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayMissionName">
    <ng-container *ngFor="let mission of missions$ | async">
      <mat-option *ngIf="filterParentSelect(mission)" [value]="mission"
        >{{ mission.name }}
      </mat-option>
    </ng-container>
  </mat-autocomplete>

  <span *ngIf="!isFieldValid('parent')" class="error-text"
    >המשימה הכתובה היא לא בחירה תקנית!</span
  >

  <div class="buttons-container">
    <div (click)="cancel()" class="cancel-button">ביטול</div>
    <button type="submit" class="save-button">שמירה</button>
  </div>
</form>
