* {
  font-family: "Rubik", sans-serif;
  direction: rtl;
}

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.hide {
  display: none;
}

.visibility-none {
  visibility: hidden;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.dialog-backdrop {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.mat-dialog-container {
  background-color: #f0f0f0;
}

.clickable {
  cursor: pointer;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}