@lightgray: lightgrey;
@gray: gray;
@darkgray: #282828;

* {
  font-family: "Rubik", sans-serif;
  direction: rtl;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.hide {
  display: none;
}

.visibility-none {
  visibility: hidden;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-dialog-container {
  background-color: #f0f0f0;
}

.clickable {
  cursor: pointer;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.invalid-input {
  box-shadow: 0px 0px 2px 0.6px red;
}

.arrow-up(@color, @width, @height) {
  width: 0;
  height: 0;
  border-left: @width solid transparent;
  border-right: @width solid transparent;
  border-bottom: @height solid @color;
}

.arrow-down(@color, @width, @height) {
  width: 0;
  height: 0;
  border-left: @width solid transparent;
  border-right: @width solid transparent;
  border-top: @height solid @color;
}
