@import "/src/styles.less";
@card-background: @gray;

* {
  color: white;
}

.mission-card {
  box-sizing: border-box;
  background-color: @card-background;
  display: flex;
  height: 40px;
  align-items: center;
  margin-top: 5px;

  .mission-title {
    font-size: 17px;
    font-weight: bold;
    flex: 1;
  }

  .is-active-indicator {
    box-sizing: border-box;
    background-color: @darkgray;
    font-size: 15px;
    font-weight: bold;
    padding: 4px 12px;
    margin-left: 30px;
  }

  .edit-button,
  .trash-icon {
    margin-left: 10px;
    transition: 0.15s;
    opacity: 0;
    .clickable();
  }

  &:hover {
    .edit-button,
    .trash-icon {
      opacity: 1;
    }
  }

  .toggle-mission-children-button {
    margin: 0px 20px 0px;
    .clickable();
  }

  .arrow-up {
    .arrow-up(white, 7px, 12px);
  }

  .arrow-down {
    .arrow-down(white, 7px, 12px);
  }
}

.sub-missions-container {
  padding-right: 20px;
  margin-top: 7px;
}
