<div class="mission-card">
  <click-wrapper
    class="toggle-mission-children-button"
    [clickRadius]="5"
    (click)="toggleChildrenVisibility()"
  >
    <div
      [ngClass]="{
        'arrow-up': isChildrenVisible,
        'arrow-down': !isChildrenVisible,
        'visibility-none': mission.children.length === 0
      }"
    ></div>
  </click-wrapper>

  <span class="mission-title">{{ mission.title }}</span>
  <div class="is-active-indicator">{{ mission.status }}</div>

  <img
    (click)="missionModelService.editMission(mission)"
    class="edit-button"
    src="/assets/edit-icon.svg"
    width="12px"
    height="12px"
  />

  <img
    (click)="missionService.deleteMission(mission)"
    class="trash-icon"
    src="/assets/trash-icon.svg"
    width="12px"
    height="12px"
  />
</div>

<div class="mission-children-container" [hidden]="!isChildrenVisible">
  <div *ngFor="let mission of mission.children">
    <mission-card [mission]="mission"></mission-card>
  </div>
</div>
