<div class="mission-card">
  <div
    class="toggle-mission-children-button"
    (click)="toggleChildrenVisibility()"
    [ngClass]="!(children$ | async)?.length ? 'visibility-none' : ''"
  >
    <div
      [ngClass]="(isChildrenVisible$ | async) ? 'arrow-up' : 'arrow-down'"
    ></div>
  </div>

  <span class="mission-name">{{ mission.name }}</span>
  <div class="is-active-indicator">{{ mission.status }}</div>

  <div class="icon-container">
    <mat-icon
      (click)="editMission()"
      class="card-icon"
      svgIcon="edit"
    ></mat-icon>
    <mat-icon
      (click)="deleteMission()"
      class="card-icon"
      svgIcon="delete"
    ></mat-icon>
  </div>
</div>

<ng-container *ngIf="isChildrenVisible$ | async">
  <div
    class="mission-children-container"
    *ngFor="let child of children$ | async"
  >
    <mission-card [mission]="child"></mission-card>
  </div>
</ng-container>
