<div class="mission-card">
  <div
    class="toggle-mission-children-button"
    (click)="toggleChildrenVisibility()"
    [ngClass]="
      !(this.getMissionChildren() | async)?.length ? 'visibility-none' : ''
    "
  >
    <div
      [ngClass]="(isChildrenVisible$ | async) ? 'arrow-up' : 'arrow-down'"
    ></div>
  </div>

  <span class="mission-name">{{ mission.name }}</span>
  <div class="is-active-indicator">{{ mission.status }}</div>

  <img
    class="card-icon"
    src="/assets/edit-icon.svg"
    width="12px"
    height="12px"
    (click)="editMission()"
  />

  <img
    class="card-icon"
    src="/assets/trash-icon.svg"
    width="12px"
    height="12px"
    (click)="deleteMission()"
  />
</div>

<ng-container *ngIf="isChildrenVisible$ | async">
  <div
    class="mission-children-container"
    *ngFor="let child of this.getMissionChildren() | async"
  >
    <mission-card [mission]="child"></mission-card>
  </div>
</ng-container>
