@card-background: gray;

* {
    color: white;
}

.mission-card {
    box-sizing: border-box;
    background-color: @card-background;
    display: flex;
    height: 40px;
    align-items: center;
    margin-top: 5px;
    
    .mission-title {
        font-size: 17px;
        font-weight: bold;
        flex: 1;
    }

    .is-active-indicator {
        box-sizing: border-box;
        background-color: @card-background * 0.6; 
        font-size: 15px;
        font-weight: bold;
        padding: 4px 12px;
        margin-left: 30px;
    }
    
    .edit-button, .trash-icon {
        margin-left: 10px;
        transition: 0.15s;
        opacity: 0;
    }
    
    &:hover {
        .edit-button, .trash-icon {
            opacity: 1;
        }
    }
    
    .toggle-sub-missions-button {
        margin: 0px 20px 0px 20px;
    }
    
    .arrow-up {
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 12px solid white;
    }

    .arrow-down {
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 12px solid white;
    }
}

.sub-missions-container {
    // display: flex;
    // flex-direction: column;
    padding-right: 20px;
    margin-top: 7px;
}